@keyframes fadeInOut {
    0% {
        opacity: 0.6;
        width: 10%;
        /* max-height: 50%; */
    }

    100% {
        opacity: 1;
        width: 75%;
        /* max-height: 90%; */
    }
}

.add_merchants_parent {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}

.add_merchants_form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 0px 1rem 10px;
    border-radius: 5px;
    width: 75%;
    max-height: 90%;
    max-width: 1000px;
    overflow-y: scroll;
    scrollbar-width: none;
    animation: fadeInOut 0.3s ease-in-out;
}

.add_merchants_form_container::-webkit-scrollbar {
    display: none;

}

.add_merchants_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    background: #FFF;
}

.add_merchants_header h2 {
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.add_merchants_header h3 {
    cursor: pointer;
    display: flex;
}

.name_email_parent_container {
    display: flex;
    gap: 1rem 4rem;
    justify-content: space-between;
    padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .name_email_parent_container {
        flex-direction: column;
        flex-wrap: wrap;
    }

}

.name_label_input_contaner {
    /* padding-right: 1rem; */
    width: 100%;
}

.name_label_input_contaner label {
    display: block;
    color: rgba(38, 38, 38, 0.9);
    margin-bottom: 5px;
}

.name_label_input_contaner input {
    border: 1px solid rgba(38, 38, 38, 0.4);
    outline: none;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    width: 95%;
    color: #000;
}

.name_label_input_contaner input[type='file'] {
    width: 93%;
}

.name_label_input_contaner select {
    border: 1px solid rgba(38, 38, 38, 0.4);
    outline: none;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    width: 98.5%;
    color: #000;
    margin-bottom: 10px;
}

.name_label_input_contaner textarea {
    border: 1px solid rgba(38, 38, 38, 0.4);
    outline: none;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    width: 96%;
    max-height: 50px;
    color: #000;
}

.not_valid_text {
    color: red;
}

.add_merchants_bussiness_address h3 {
    font-weight: 500;
    font-size: 20px;
    color: rgba(139, 69, 19, 1);
    margin-top: 10px;
}

.add_merchants_bussiness_address h4 {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.add_merchats_btn_container {
    padding: 1.5rem 0;
    display: flex;
    gap: 2rem;
}

.primary_login_btn {
    background: #1F342F;
    color: #FFF;
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.primary_login_btn:hover {
    transform: scale(1.05);
}

.action_button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.action_button:hover {
    transform: scale(1.2);
}

.merchant_details_page_table {
    width: 100%;
}

.merchant_details_page_row td {
    padding-bottom: 1rem;
}


.merchant_name span {
    font-weight: 400;
    color: #646464;
    font-size: 14px;
    display: block;
}

.uploaded_docement_title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(38, 38, 38, 0.9);
}

.merchant_details_document {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.merchant_document_image {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(38, 38, 38, 0.5);
    position: relative;
}
.merchant_document_image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: transform 0.4s ease-in-out;
}
.merchant_document_image img:hover {
   transform: scale(1.2);
}

.document_kyc_status {
    position: absolute;
    font-size: 20px;
    border: 1px solid rgba(38, 38, 38, 0.5);
    background: #fff;
    padding: 0 5px;
    border-radius: 5px;
    right: 5px;
    bottom: 0;
}

.pending {
    color: orange;
}

.rejected {
    color: red;
}

.verified {
    color: green;
}

.loader_container {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.loader_item {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: loading 1s linear infinite;
}

.loader_item img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    animation: loading 0.5s linear infinite;
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.approve_and_reject_btn_container {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-bottom: 1rem;
}

.api_key_value_icon {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.api_key_icon {
    cursor: pointer;
    background: rgba(38, 38, 38, 0.2);
    padding: 2px 5px;
    border-radius: 2px;
    color: rgba(38, 38, 38, 0.7);
}

.api_key_block {
    color: red !important;
}

hr {
    margin: 10px 0;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
}

/* ------------ New Document Verification ------------------ */
.verify_icon_text {
    display: flex;
    align-items: center;
    gap: 4px;
    color: green;
    font-weight: 500;
}

.not_verify_icon_text {
    display: flex;
    align-items: center;
    gap: 4px;
    color: red;
    font-weight: 500;
}

.verify_icon_text,
.not_verify_icon_text b {
    font-size: 14px;
    font-weight: 400;
}

/* ----------All list Details---------------   */
.list_details {
    display: flex;
    gap: 1rem 4rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.merchant_name {
    font-weight: 500;
    width: 250px;
}