* {
  font-family: "Poppins", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.App {
  /* height: 100vh; */
  /* overflow-y: hidden; */
  /* height: fit-content; */
}
.app_layout {
  display: flex;
  gap: 1rem;
}
.app_content {
  width: 100%;
  overflow: hidden;
}
/* Hide scrollbar but allow scrolling */
*{
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
/* ---------- Back Button ----------- */
.back_button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
}